{% extends '@App/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Boeken</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Titel</th>
                                <th>Genres</th>
                                <th>Auteur</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in books %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_book_view', { book: book.id }) }}">{{- book.title -}}</a>
                                    </td>
                                    <td>
                                        {% for key, genre in book.genres %}
                                            {{- genre.title ~ ', ' -}}
                                        {% else %}
                                            <span class="text-muted">Geen</span>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href=""></a>
                                        {{- book.author.name -}}
                                    </td>
                                    <td>
                                        <a href="{{ path('app_book_update', { book: book.id }) }}">
                                            <button class="btn btn-primary">Aanpassen</button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_book_delete', { book: book.id }) }}">
                                            <button class="btn btn-danger">Verwijderen</button>
                                        </a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        Geen boeken gevonden
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}