{% extends '@App/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h2 class="card-title">Algemeen dashboard</h2>
                    <p>Bekijk hier wat je allemaal gemist hebt</p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Lid</th>
                                    <th>Boek</th>
                                    <th>Exemplaar</th>
                                    <th>Uitleendatum</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for bookLoan in bookLoans | slice(0, 10) %}
                                    <tr>
                                        <td>
                                            <a href="{{- path('app_member_view', { member: bookLoan.member.id }) -}}">
                                                {{- bookLoan.member.name -}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{- path('app_book_view', { book: bookLoan.bookExemplar.book.id }) -}}">
                                                {{- bookLoan.bookExemplar.book.title -}}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{- path('app_bookExemplar_view', { bookExemplar: bookLoan.bookExemplar.id }) -}}">
                                                #{{- bookLoan.bookExemplar.exemplarNumber -}}
                                            </a>
                                        </td>
                                        <td>
                                            {{- bookLoan.startDate | date("d-m-Y") -}}
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4" class="text-muted">Geen</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{- path('app_book_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_book_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Medewerkers <small>{{ employees | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for employee in employees | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{- path('app_employee_view', { employee: employee.id }) -}}">
                                    {{- employee.fullName-}}
                                </a>
                                <small class="text-muted">
                                    {{- employee.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_book_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_book_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Boeken <small>{{ books | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for book in books | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{- path('app_book_view', { book: book.id }) -}}">
                                    {{- book.title -}}
                                </a>
                                <small class="text-muted">
                                    {{- book.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_book_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_book_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Exemplaren  <small>{{ bookExemplars | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for bookExemplar in bookExemplars | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{ path('app_bookExemplar_view', { bookExemplar: bookExemplar.id }) }}">
                                    #{{- bookExemplar.exemplarNumber -}}
                                </a>
                                <small class="text-muted">
                                    {{- bookExemplar.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_bookExemplar_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_bookExemplar_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Auteurs <small>{{ authors | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for author in authors | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{ path('app_author_view', { author: author.id }) }}">
                                    {{- author.name -}}
                                </a>
                                <small class="text-muted">
                                    {{- author.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_author_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_author_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Locaties  <small>{{ locations | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for location in locations | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{ path('app_location_view', { location: location.id }) }}">
                                    {{- location.name -}}
                                </a>
                                <small class="text-muted">
                                    {{- location.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_location_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_location_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Genres <small>{{ genres | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for genre in genres | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{ path('app_genre_view', { genre: genre.id }) }}">
                                    {{- genre.title -}}
                                </a>
                                <small class="text-muted">
                                    {{- genre.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_genre_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_genre_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Leden <small>{{ members | length }} totaal</small></h3>
                    <ul class="list-group">
                        {% for member in members | slice(0, 5) %}
                            <li class="list-group-item d-flex w-100 justify-content-between">
                                <a href="{{ path('app_member_view', { member: member.id}) }}">
                                    {{- member.name -}} <small>{{ member.primaryLocation.name -}}</small>
                                </a>
                                <small class="text-muted">
                                    {{- member.createdAt | date("d-m-Y") -}}
                                </small>
                            </li>
                        {% else %}
                            <li class="list-group-item">
                                Geen
                            </li>
                        {% endfor %}
                    </ul>
                    <br>
                    <a href="{{- path('app_member_index') -}}"><button class="btn btn-primary">Overzicht</button></a>
                    <a href="{{- path('app_member_create') -}}"><button class="btn btn-success">Aanmaken</button></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}