{% extends '@App/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Leden</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Locatie</th>
                                <th>Uitleningen</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_member_view', { member: member.id }) }}">{{- member.name -}}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_location_view', { location: member.primaryLocation.id}) }}">{{- member.primaryLocation.name -}}</a>
                                    </td>
                                    <td>
                                        {{- member.bookLoans | length -}}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">Aanpassen</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger">Verwijderen</button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        Geen leden gevonden
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}