{% extends '@App/base.html.twig' %}

{% block container %}
    <div class="row">
        <div class="col-12">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title">Boek Exemplaren</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nummer</th>
                                <th>Boek</th>
                                <th>Aantal uitleningen</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for bookExemplar in bookExemplars %}
                                <tr>
                                    <td>
                                        <a href="{{ path('app_bookExemplar_view', { bookExemplar: bookExemplar.id }) }}">{{- bookExemplar.exemplarNumber -}}</a>
                                    </td>
                                    <td>
                                        <a href="{{ path('app_book_view', { book: bookExemplar.book.id}) }}">{{- bookExemplar.book.title -}}</a>
                                    </td>
                                    <td>
                                        {{- bookExemplar.location | length -}}
                                    </td>
                                    <td>
                                        <button class="btn btn-primary">Aanpassen</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger">Verwijderen</button>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">
                                        Geen boeken gevonden
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}